body {
    background-color: rgb(226, 43, 43);
}

#grid {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 2px;
    width: 452px; /* 15x30px cells + 14 gaps of 2px */
    height: 452px;
    margin: 20px auto;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #111;
}

.snake {
    background-color: green;
} 

.food {
    background-color: red;
}

label {
    font-weight: bold;
}

@media (max-width: 1050px) {

    #grid {
        grid-template-columns: repeat(15, 22px); 
        grid-template-rows: repeat(15, 22px);
        gap: 1px;
        width: 344px;
        height: 344px;
    }

    .cell {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 950px) {

    #grid {
        grid-template-columns: repeat(15, 15px); 
        grid-template-rows: repeat(15, 15px);
        gap: 1px;
        width: 242px;
        height: 242px;
    }

    .cell {
        width: 15px;
        height: 15px;
    }
}