body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: url("../images/dark-hexagonal-background-with-gradient-color_79603-1409.avif") no-repeat center center/cover;
    color: #fff;
    text-align: center;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.site-title h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ff7f50;
    text-shadow: 2px 2px 5px #000;
}

.game-buttons {
    display: flex;
    gap: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.game img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff4500;
}

.game p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ff7f50;
}

#logout-icon {
    font-size: 30px;
    color: #333;
    text-decoration: none;
    background-color: #f9f9f9;
    border-radius: 60%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    left: 40px;
    top: 40px;
}

#logout-icon:hover {
    background-color: #4CAF50;
    color: white;
}

#logout-icon i {
    margin: 8px;
}

.future-game {
    position: relative; 
    opacity: 0.6; 
    pointer-events: none; 
}

.future-game img {
    filter: grayscale(80%); 
    border: 2px dashed #ccc; 
}

.in-progress {
    position: absolute;
    bottom: 60px;
    left: 0px;
    background-color: rgba(255, 69, 0, 0.9); 
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.future-game p {
    color: #c7b6b6; 
}

@media (max-width: 1000px) {
    .homepage {
        padding: 20px;
        height: auto;
    }

    .site-title h1 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .game-buttons {
        flex-direction: column; 
        gap: 20px;
    }

    .game img {
        width: 120px;
        height: 120px;
    }

    .game p {
        font-size: 1rem;
    }

    #logout-icon {
        font-size: 24px;
        left: 20px;
        top: 20px;
    }

    .in-progress {
        font-size: 0.8rem;
        padding: 3px 7px;
        bottom: 50px;
    }
}

@media (max-width: 500px) {
    .site-title h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .game img {
        width: 100px;
        height: 100px;
    }

    .in-progress {
        font-size: 0.7rem;
        bottom: 40px;
    }

    #logout-icon {
        font-size: 20px;
        left: 10px;
        top: 10px;
    }
}
