body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: #000;
    color: #fff;
    text-align: center;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.site-title h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ff7f50;
    text-shadow: 2px 2px 5px #000;
}

.game-buttons {
    display: flex;
    gap: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.game img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff4500;
}

.game p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ff7f50;
}

#login-icon {
    font-size: 30px;
    color: #333;
    text-decoration: none;
    background-color: #f9f9f9;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    left: 40px;
    top: 40px;
}

#login-icon:hover {
    background-color: #4CAF50;
    color: white;
}

#login-icon i {
    margin-right: 8px; 
}
